    body{
    	background-size: 100%;
        background-repeat: no-repeat;
        color: white;
        background-color: lightgrey;
    }
    
    .btn {
        margin: 3px;
        background-color: #999999;
        border-color: #fff;
    }
    
    .container {
        padding: 20px;
    }
    
    .jumbotron {
       margin-top: 10px;
       background-image: url("https://image.ibb.co/jbWR7n/sports.png"); border: solid white 1px;
       background-position: center;
       background-size: 100%;
       background-repeat: no-repeat;
       background-color: lightgrey;
       margin-left: 250px;
       margin-right: 250px;
       height: 350px; 
    }
    
    h1 {
        text-align: center;
        margin-left: 180px;
        font-family: 'Bungee Inline', cursive;
        text-shadow: 1px 1px 2px black;
    }

    #action-input {
        color: black;
    }

    #gif-form {
        margin-top: -40px;
        size: 90%
    }
